/*
MAIN THEME COLORS:
1. 93FF19   (Light Green)
2. FFFFFF   (White)
*/
.page-header{
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: #93FF19;
  color: #FFFFFF;
  width: 100%;
  height: 120px;
  font-size: 60px;
  text-align: center;
  line-height: 120px;
}
.middle-page-search-bar{
  position: absolute;
  width: 320px; /* 300px of content + 10 top and bottom */
  height: 60px; /* 1 line of content + 10 top and bottom */
  font-size: 40px;
  margin: 0;
  padding: 8px;
  border: solid 2px #93FF19;
  background-color: #FFFFFF;
  color: #93FF19;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.middle-page-search-bar:focus{
  border: solid 3px #93FF19;
  box-shadow: 0 0 10px 0px grey;
}
